*{
    padding: 0;
    margin: 0;
    font-family: "Poppin",sans-serif;
    box-sizing: border-box;
}
.container{
    background-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: right;
    /* border: solid; */
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(174, 163, 163);
    font-size: 20px;
    font-weight: 500;
}
nav{
    height: fit-content;
}
.filter{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin: 50px; */
    display: none;
    background: rgb(0, 0, 0, .8);
    transform: translateX(-200%);
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;    
    top: 0;
    z-index: 3000;
    transition: transform .7s ease-in;
    

}
.filter ul{
    justify-content:first baseline;
    align-items: center; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 20px; */
    background-color: black;
    width: 50%;
    height: 100%;
    
}
ul a{
    color: white;
    text-decoration-line: none;
    font-size: larger;
    font-family: "Poppin",sans-serif;
}
#check:checked ~ .filter{
    transform: translateX(0);
    display: block;
}

a:hover{
    color: red;
}
a:hover{
    color: rgb(105, 100, 100);
}
nav input{
    visibility: hidden;
    display: none;
    cursor: pointer;

}
nav label i{
    color: white;
    font-size:30px;
    display: block;
    cursor: pointer;

}
ul label{
    text-align: right;
    width: 100%;
    display: block;
}
.body{
    padding: 15px;
    
}
#about{
    color: rgb(168, 161, 161);
    margin-top: 70px;
    margin-bottom: 20px;
}
h1{
    font-size: 50px;
    font-family: "poppins", sans-serif;
}
.red{
    color: rgb(236,87,17);
}
button{
    padding: 30px;
    width: 300px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 60px;
    margin-top: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    
}
button:hover{
    background-color: black;
    color: white;
}
img{
    /* height: 400px; */
    object-fit: cover;
    object-position: 200px 204p;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.icons{
    align-items: center; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-bottom: 30px; */
}
.icons img{
    height: 100px;
    width: 100px;
}
.icons a{
    color: black;
}
a:hover{
    color: rgb(236,87,17);
    background-color: aqua;
    /* margin-top: 30px; */
}
.icons h2{
    font-weight: 500;
}
#about-studio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px ;
    background-image: url(/assets/home-page-image/cv.png);
    background-position: center; 
    /* background-color: rgb(229, 229, 229); */
}
.about_studio_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    word-spacing: 5px;
    line-height: 30px;
}

.red-button{
    border-color: rgb(236,87,17);
    margin-bottom: 100px;
   
}
    .about_studio_button{
        display: flex;
        flex-direction: column;
        gap: none;
    }
.red-button:hover{
    background-color: rgb(236,87,17);
    color: white;
    border-color: rgb(236,87,17);
    box-shadow: none;
}
.section-01{
    background-color: rgb(229, 229, 229);
    padding: 50px;
    
    
}
.red-digit{
    color: rgb(236,87,17);
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.studio-heading{
    font-family: "Poppin",sans-serif;
    margin-bottom: 40px;
    
}
#heading p{
    margin-bottom: 30px;
    line-height: 35px;
    font-size: 18px;
    
}
.list{
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 50px;
    height: 200px;

}
.list ul{
    list-style: circle;
    
}
.orange-background{
    background-color: rgb(236,87,17);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    
}
.orange-background h2{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* font-weight: 600; */
    font-size: large;
    margin-top: 40px;
    /* padding: 20px; */
}
.orange-background p{
    line-height: 30px;
    color: whitesmoke;
    word-spacing: 5px;
    font-weight: 200;
    font-size: medium;
}
.orange-color{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(249, 138, 86);
    padding: 20px;
    margin-bottom: 1rem;
}
.orange-background button{
    background-color: rgb(236,87,17);
    color: white;
    border-color: white;
    font-weight: 600;
    font-size: smaller;
    letter-spacing: 1px;
    width: fit-content;
    height: 10px;
}
.section-02{
    padding: 20px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
.section-02 h4{
   color: rgb(236,87,17);
   font-size: 50px;
   padding: 20px;
}
.section-02 h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
}
.section-02 p{
    line-height: 30px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.ppl-profile{
    background-color: rgb(236,87,17);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
    margin-top: 10px;
    /* padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px; */
    padding: 50px;
    margin-bottom: 50px;
}
.ppl-profile h2{
    color: white;
}
.ppl-profile p{
    color: whitesmoke;
    font-size: small;
    font-weight: 100;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 36px;
    text-align: center;

}
.ppl-profile h3{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ppl-profile img{
    border-radius: 50%;
    border-color: white;
    height: 70px;
    width: 70px;
    
    
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nate .p, .celia .p, .Bob .p, .paul .p, .olga .p, .paul .p{
    display: flex;
    text-align: center;
}  
.p{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-03 {
    display: flex;
    
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
}
.section-03 h4{
    color: rgb(236,87,17);
    font-size: 50px;
    padding: 10px;
    gap: 10px;
 }
 /* .section-03 img{

 } */
 .section-03 h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
 }
 .section-03 p{
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 30px;
    /* margin-bottom: 10px; */
 }
 #red-text{
    color: rgb(236,87,17);
 }
 .section-03 ol{
    list-style: circle;
    line-height: 30px;
    letter-spacing: 0.5px;
    padding: 15px;
    margin-bottom: 20px;

 }
 .top-web{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.top-web p{
    line-height: 25px;
    word-spacing: 3px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    color: rgb(169, 162, 162);
    /* font-size: smaller; */
   /* color:  rgb(229,229,229); */
 }
 .top-web h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;    
 }
 .grids-container{
    gap: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: (minmax(300px,548px));
    background-color: rgb(236,87,17);
    position: relative;

 }
 .grids{
    position: absolute;
 }
 .grids-container h3{
    color: white;
    margin-bottom: 10px;


 }
 .grid_boxes{
    position: relative;
    display: flex;
    gap: 10px;
 }
 .grid01 {
    background-color: rgb(62, 56, 56);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    position: absolute;
 }
 .grid02 {
    background-color: rgb(62, 56, 56);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
 }
 .grid03 {
    background-color: rgb(62, 56, 56);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
 }
.grids-container p{
    line-height: 25px;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    font-size: small;
    font-style: italic;
   
}
.form_button{
    display: flex;
    align-items: center;
    width: fit-content;
}
.form-area{
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
    gap: 20px;
    padding: 30px;
    background-color: rgb(236,87,17);
}
.form-area h2{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    line-height: 40px;
    font-size: 35px;
    color: white;
}
.form-area h4{
    padding: 10px;
    color: white;

}
.form-area p{
    color: white;
    line-height: 36px;
    font-size: small;
    padding: 10px;
}
.form_div{
    background-color: rgb(62, 56, 56);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 1rem;
    margin: 10px;
}
.form_div form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 1rem;
}
#Name{
    display: flex;
    gap: 10px;
    border-radius: 1rem;
    height: 30px;
    text-align: center;
}
#email-address{
    display: flex;
    gap: 10px;
    border-radius: 1rem;
    height: 30px;
    text-align: center;
}
#Message{
    padding: 10px;  
    display: flex;
    gap: 10px;
    border-radius: 1rem;
}
.footers_space{
    display: flex;
    padding: 30px;
    background-color: rgb(62, 56, 56);
    gap: 30px;
}
footer h6{
    color: white;
}
